// colors
$color-main: #665f60;
$color-blue: #9f9acf;
$color-white: #ffffff;
$color-grey: #ebebeb;
$color-lightgrey: #dbdbdb;
$color-milk: #dad8e3;

// font size
$font-main: 20px;
$font-small: 18px;
$font-big: 24px;
$font-bigger: 30px;
$font-biggest: 36px;
$font-title: 70px;

// font family
$font-sans: 'PT Sans', sans-serif;
$font-ProximaNova: ProximaNova;
